@media  screen  and (max-width: 1199px) {
    .header-m{
      display: none;
    }
    .header-wrapper {
      max-width: 768px;
      padding: 23px 0px 43px 0px;
    }
    .image-container{
      max-width: 768px;
    }
    .posts {
      max-width: 768px;
      padding-top: 56px;
      &__info {
        height: 680px;
      }
    }
    .shots {
      &_title {
        max-width: 768px;
      }
      &__images {
        max-width: 768px;
        a {
          width: 249px;
          height: 249px;
        }
        
      }
      &__item-4 {
        display: none;
      }
    }
    .footer {
      height: 382px;
      &__container {
        max-width: 768px;
        padding-top: 57px;
      }
    }
  
  }