@media screen and (max-width: 767px) {
    .header-wrapper{
        display: none;
    }
    /*.header-wrapper {
        max-width: 320px;
        width:100%;

        &__menu {
            position: absolute;
            top: 48px;
            right: 0;
            width: 182px;
            height: 208px;
            background-color: #F5F5F5;
            flex-direction: column;
            display: none;
            // &-active {
            //   display: flex;
            //}

        }

        &__item {
            font-size: 11px;
            margin-right: auto;
            margin-left: 0;
            height: 32px;
            width: 182px;
            display: flex;
            align-items: center;
            padding-left: 13px;
        }
    }*/
    .header-m{
        width:100%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 23px;
        &__content{
          width:182px;
          position: relative;
          &__btn{
            position:relative;
            margin-left: 138px;
            width: 44px;
            height: 37px;
            border: none;
            background: #000;
            .btn-icons-close{
              opacity: 1;
            }
          .btn-icons-open{
              opacity: 0;
            }
            &--icon{
              top:0;
              left:0;
              position: absolute;
              width: 100%;
              height: 100%;
              
            }
            &:focus{
              .btn-icons{
                &-close{
                  opacity: 0;
                }
                &-open{
                  opacity: 1;
                }
              }
            }
            &:focus+ul{
              transition-duration: 0.7s;
              transform: translateY(0);
            }
          }
          &__list{
            transition-duration: 0.4s;
            transform: translateY(-150%);
            position: absolute;
            left: 0;
            width: 182px;
            background: #f5f5f5;
            &__item{
              height: 32px;
              padding-left: 12px;
              display: flex;
              align-items: center;
              &:hover{
                background: #e5e5e5;
              }
              .link-active{
                color:#57a4a4;
              }
              &--link{
                font-size: 11px;
                color:#4e4e4e;
                text-transform: uppercase;
              }
            }
          }
        }
      }


    .intro-container {
        max-width: 320px;
    }

    .posts {
        max-width: 320px;
        padding-top: 38px;

        &__title {
            font-size: 14px;
        }

        &__info {
            height: 820px;
        }

        &__container {
            width: 320px;
            flex-direction: column;
            padding-bottom: 25px;
        }

        &__text-3 {
            display: none;
        }

        &__text-1 {
            padding-top: 11px;
            font-size: 14px;
        }

        &__text-2 {
            font-size: 11px;
        }

        &__text-3 {
            display: none;
        }
    }

    .shots {
        height: 416px;
        background-color: white;

        &__title {
            max-width: 320px;
            padding: 30px 0 13px 0;
        }

        &__title-1 {
            font-size: 14px;
        }

        &__title-2 {
            display: none;
        }

        &__images {
            max-width: 320px;

            a {
                width: 301px;
                height: 301px;
                margin: 0 auto;
            }

            a:not(:first-child) {
                display: none;
            }
        }
    }

    .footer {
        height: 335px;

        &__container {
            max-width: 320px;
            padding-top: 38px;
        }

        &__paragraph-1 {
            font-size: 14px;
            padding-bottom: 8px;
        }

        &__paragraph-2 {
            font-size: 12px;
            width: 303px;
            line-height: 20px;
            padding-bottom: 26px;
        }

        &__block-1 {
            padding-bottom: 25px;
        }

        &__block-2 {
            font-size: 14px;
            width: 235px;
            height: 63px;
            display: flex;
            flex-direction: column;


        }

        .slash {
            display: none;
        }
    }
}

* {
    margin: 0 auto;
}