.body{
  font-family: 'Roboto', sans-serif;
}
.header-m{
  display: none;
}
.header-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  width: 100%;
  &__button {
    display: none;
    width: 44px;
    height: 37px;
    background-color: black;
    position: absolute;
    top: 10px;
    right: 0;

  }
  &__menu{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 850px;
    padding-top: 45px;
  }
  &__item {
    text-decoration: none;
    color: $colorGrey;
    font-size: $fontSize11;
  }
}

.image-container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding-top: 50px;

  &__image {
    width: 100%;
  }
}

.posts {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-top: 66px;
  padding-bottom: 40px;

  &__title {
    color: $colorGrey;
    padding-bottom: 25px;
    font-weight: 700;
  }

  &__info {
    height: 345px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  &__container {
    width: 600px;
    padding-bottom: 30px;
    @include flexContainer(space-between, top);

    img {
      padding-right: 20px;
      width: 160px;
      height: 140px;
    }

    &__text-container {
      &__text-1 {
        color: $colorGrey;
        padding-bottom: 10px;
        font-weight: 700;
      }

      &__text-2 {
        color: $colorGrey;
        padding-bottom: 15px;
      }

      &__text-3 {
        color: $colorGrey;
      }
    }
  }
}

.shots {
  background-color: rgb(247, 247, 247);
  height: 428px;

  &__title {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    @include flexContainer(space-between, top);
    padding: 47px 0 24px 0;

    &-1 {
      color: $colorGrey;
      font-weight: 700;
    }

    &-2 {
      color: $colorGrey;
      font-weight: 700;
      font-size: 14px;
    }

  }

  &__images {
    @include flexContainer(space-between, top);
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    a {
      width: 285px;
      height: 285px;

      img {
        width: 100%;
      }
    }
  }
}

.footer {
  background-color: black;
  height: 400px;

  &__container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    @include flexContainer(center, center);
    flex-direction: column;
    text-align: center;
    padding-top: 66px;
  }

  &__paragraph-1 {
    color: white;
    font-weight: 700;
    padding-bottom: 22px;
  }

  &__paragraph-2 {
    color: $colorLightGrey;
    width: 684px;
    line-height: 28px;
    padding-bottom: 37px;
    &__text {
      display: none;
    }
  }

  &__block-1 {
    padding-bottom: 34px;
    width: 192px;
    @include flexContainer(space-between, top);
  }

  &__block-2 {
    color:$colorLightGrey;
    width: 613px;
    @include flexContainer(space-between, top);

  }
  &__elem{
    padding-left: 10px;
    padding-right: 10px;
  }
}
@import "media-screen-tablet";
@import "media-screen-mobile";